nav {
    position: fixed; 
    top: 0;
    width: 100%; 
    background-color: #333;
    padding: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1); 
    z-index: 1000; 
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
}
.nav {
    color: #d8d8d8;
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: flex-start; 
    align-items: center;
}

.nav li {
    margin-right: 20px; 
}


.nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px; 
    border-radius: 4px;
}

.nav a:hover {
    color: #a3a3a3; 
    text-decoration: underline;
}

.nav img {
    width: 50px;
    height: 50px;
}

.content {
    margin-top: 90px;
}